*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap:10px;
    margin:20px 10px;
    background-color: antiquewhite;
    height: 10rem; 
    width:100%;
}
ul{
    display: flex;
    justify-content: center;
    flex-direction: row;   
    align-items: center;
    list-style-type: none;
    gap:15px;
    padding:10px 0;
    height: 6rem;
    background-color: rgba(169, 169, 169, 0.897);
}
.sticky{
    position: sticky;
    top:10px;
    width:100%;
}