*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    flex:30%;
    & li{
        padding:4px;
        &:hover{background-color: aquamarine;}
    }
}
.sideBar{
    position: fixed;
    top:0;
    width:100%;
    height: 10%;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 1rem;
}
.menu{
    margin-top: 11%;
    margin-left: 10px;
}
@media (width <= 700px){
    .sideBar{
        left:0;
        width:10%;
        height: 100%;
        flex-direction: column;

    }
    ul{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .menu{
        margin-top: 5px;
        margin-left: 11%;
    }
}