*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    display: flex;
    gap:10px;
    flex-direction: row;
}
.close-icon{
    display: none;
}
.active{
    background-color: rgb(240, 200, 200);
    padding:3px;
}
.sideBar{
    width:100%;
    background-color: antiquewhite;
    position: fixed;
    bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    justify-content: space-between;
    padding:10px;
}
@media (width <900px){
    .close-icon{display: block;}
    .sideBar li:not(.active){
        display: none;
    }
    /* .responsive {
        & ul{
            flex-direction: column;
            height: fit-content;
        }      
    } */
    .sideBar.responsive ul {
        display: flex; /* Show navigation items when responsive class is active */
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        & li{
            display: block;
        }
    }
}

