*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    background-color: antiquewhite;
    padding:2rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: all 1s ease;
    & .logo{
        font-size: 3rem;
    }
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap:1rem;
}